# Normalize line endings
* text=auto

# Treat binary files as binary
*.pack.gz binary
*.gz binary
*.png binary
*.jpg binary
*.jpeg binary
*.svg binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary